:root {
    --bluesky-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 360 320'%3E%3Cpath fill='%230085ff' d='M180 142c-16.3-31.7-60.7-90.8-102-120C38.5-5.9 23.4-1 13.5 3.4 2.1 8.6 0 26.2 0 36.5c0 10.4 5.7 84.8 9.4 97.2 12.2 41 55.7 55 95.7 50.5-58.7 8.6-110.8 30-42.4 106.1 75.1 77.9 103-16.7 117.3-64.6 14.3 48 30.8 139 116 64.6 64-64.6 17.6-97.5-41.1-106.1 40 4.4 83.5-9.5 95.7-50.5 3.7-12.4 9.4-86.8 9.4-97.2 0-10.3-2-27.9-13.5-33C336.5-1 321.5-6 282 22c-41.3 29.2-85.7 88.3-102 120Z'/%3E%3C/svg%3E");
    --linkedin-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24' height='24' version='1.1' viewBox='0 0 72 72' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m8 0c-4.4183 8.1162e-16 -8 3.5817-8 8v56c5.4108e-16 4.4183 3.5817 8 8 8h56c4.4183 0 8-3.5817 8-8v-56c0-4.4183-3.5817-8-8-8h-56zm8.3496 10c3.5073 0 6.3477 2.8638 6.3477 6.3965s-2.8404 6.3984-6.3477 6.3984c-3.5073 0-6.3496-2.8658-6.3496-6.3984s2.8423-6.3965 6.3496-6.3965zm33.033 16.273c7.3531 0 12.617 4.4906 12.617 13.777v21.949h-10.684v-18.197c0-4.9894-1.8966-7.7773-5.8457-7.7773-4.2961 0-6.541 2.9013-6.541 7.7773v18.197h-10.297v-34.666h10.297v4.668s3.0966-5.7285 10.453-5.7285zm-38.35 1.0605h10.736v34.666h-10.736v-34.666z' fill='%23007ebb'/%3E%3C/g%3E%3C/svg%3E");
    --hamburger-icon: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 18h16M4 12h16M4 6h16' stroke='%23000' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    --phone-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='currentColor' class='icon icon-tabler icons-tabler-filled icon-tabler-phone'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z' /%3E%3C/svg%3E");
    --email-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='currentColor' class='icon icon-tabler icons-tabler-filled icon-tabler-mail'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z' /%3E%3Cpath d='M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z' /%3E%3C/svg%3E");
    --caton-icon: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='75px' version='1.1' viewBox='0 0 138.42 119.88' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(-35.79 -88.562)'%3E%3Cg transform='translate(-32.505 -86.416)' stroke-width='.26458'%3E%3Cpath transform='matrix(.32957 0 0 .32957 137.5 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%230099d7'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 114.77 195.54)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 137.5 195.54)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 160.24 195.54)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 126.14 215.23)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 148.87 215.23)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 171.61 215.23)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 103.4 215.23)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 -.0625 .0625 0 160.24 274.29)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 -.0625 .0625 0 137.5 274.29)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 -.0625 .0625 0 114.77 274.29)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 -.0625 .0625 0 148.87 254.6)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 -.0625 .0625 0 126.14 254.6)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 -.0625 .0625 0 103.4 254.6)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 -.0625 .0625 0 171.6 254.6)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 114.77 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 137.5 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 160.24 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 182.97 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 92.038 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 103.4 254.6)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23cda966'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 160.24 195.54)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%2380b546'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 92.038 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%2380b546'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 137.5 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%2380b546'/%3E%3Cpath transform='matrix(0 .0625 -.0625 0 160.24 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1d397'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 160.24 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%2380b546'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 126.14 254.6)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%238f5628' fill-opacity='.5'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 137.5 195.54)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23627438'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 182.97 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23627438'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 103.4 215.23)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23627438'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 137.5 274.29)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23627438'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 114.77 195.54)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23ad6c34'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 171.6 254.6)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23ad6c34'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 126.14 215.23)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1c74c'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 160.24 274.29)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1c74c'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 148.87 254.6)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1c74c'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 171.61 215.23)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23f1c74c'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 148.87 215.23)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23a7978f'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 114.77 234.92)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23a7978f'/%3E%3Cpath transform='matrix(0 .05625 -.05625 0 114.77 274.29)' d='m210 0-105 181.87h-210l-105-181.87 105-181.87h210z' fill='%23a7978f'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    --serif-font-stack: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
    --pico-mark-gradient: linear-gradient(to left, #c52f21, #f09f42);
    --header-gradient: linear-gradient(to left, #c52f21, #f09f42b0);
    --body-gradient: linear-gradient(to right, #c52f214b, #f09f4248);

}

html {
    scroll-padding-top: 5vh;
    scroll-behavior: smooth;
}

@media(min-width: 768px){
    html {
    scroll-padding-top: 17vh;
    }
}

/* ICONS */
.social-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    & > a {
        display: block;
        background: var(--pico-primary);
        width: 24px;
        height: 24px;
        margin: 0 5px;
        &:hover{
            background-color: var(--pico-primary);
            transform: scale(1.05);
            cursor: pointer;
        }
    }
    & p{
        margin: 0;
    }
}

.standard-icon {
    width: 75px;
    aspect-ratio: 1/1;
}

#bluesky {
    mask-image: var(--bluesky-icon);
}

#linkedin {
    mask-image: var(--linkedin-icon);
}

#phone-icon {
    mask-image: var(--phone-icon);
}

#email-icon {
    mask-image: var(--email-icon);
}

#caton-icon {
    background-image: var(--caton-icon);
}

/* UTILITY CLASSES */

.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-center{
    display: block;
    text-align: center;
}

.text-right{
    text-align: right;
}

/* DESIGN & TYPOGRAPHY */
h1,h2,h3,h4,h5,h6 {
    font-family: var(--serif-font-stack);
}

h1,h2 {
    text-shadow: 2px 3px rgba(30, 30, 30, 0.08);
    & mark {
        text-shadow: 2px 3px rgba(197, 47, 33, 0.08);
    }
}

small {
    display: block;
}

mark {
    padding: 0;
    background: var(--pico-mark-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pico-primary);
    background: var(--pico-mark-gradient);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.gradient-background{
    background: var(--body-gradient);
    z-index: 0;
}

.pattern-background:before{
    content: "";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 0, 0, 0) url("../images/arrow-pattern.svg") center repeat;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));

}

.arrow-down {
    font-size: 1.15rem;
    display: block;
}

.emoji {
    font-size: 1.5rem;
}

.center-image {
    display: flex;
    justify-content: center;
}

.circular-image {
    border-radius: 50%;
}

/* HEADER */
header{
    z-index: 100;
}

@media (min-width: 768px) {
    header{
        position: sticky;
        top: 0;
    }
}

.external-link{
    display: block;
    text-align: right;
    margin: 5px 0;
}

.external-link::after{
    content: " ⎋";
    transform: rotate(-270deg);
    display: inline-block;
    text-decoration: none;
    position: relative;
    left: 0.2rem;

}

/* NAVIGATION */

nav {
    flex-direction: column;
    & .profile-container {
        width: 60px;
    }
    & * {
        color: var(--pico-h1-color) !important;
    }
    & ul {
        flex-direction: row;
        justify-content: space-around;
    }
    & > div {
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex: 1 1 0;
        gap: 20px;
        & > p {
            font-family: var(--serif-font-stack);
            font-size: 1.5rem;
            margin: 0;
            padding: 0;
        }
    }
    & .social-row > div {
        background: var(--pico-contrast);
    }
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
    }
}

/* MAIN */
main {
    padding-top: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & > div {
        padding-top: calc(var(--pico-spacing) * 2);
        padding-bottom: calc(var(--pico-spacing) * 1);
    }
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & > * {
        max-width: 800px;
    }
    & h1 {
        margin-top: calc(var(--pico-spacing) * 1);
        margin-bottom: calc(var(--pico-spacing) * 2);
        font-size: 2.5rem;
    }
    & .profile-container {
        max-height: 30vh;
    }
}

.two-thirds {
    grid: auto / 1fr;
}

@media (min-width: 1024px) {
    .two-thirds {
        grid: auto / 2fr 3fr;
    }
}

.process-row {
    margin: 10px 0;
    display: grid;
    grid: auto / 1fr 3fr;
    gap: 10px;
    & > div:nth-child(1) {
        align-self: center;
        /* aspect-ratio: 1/1; */
        background: var(--body-gradient);
        padding: 5px 5px;
        border-radius: 25% 5px 25% 5px;
        text-align: center;
        & > p:nth-child(1){
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fFF;
            /* border: 0.3rem solid rgb(255, 255, 255); */
            /* border-radius: 50%; */
            /* background: var(--body-gradient); */
            font-size: 1.75rem;
            text-align: center;
            padding: 5px;
            /* margin: -5px; */
            width: 50px;
            height: 50px;
        }
        & > p:nth-child(2){
            font-size: 3rem;
            padding: 0;
            margin: 2rem 0 0;
        }
        & > p:nth-child(3){
            font-size: 1.25rem;
            padding: 0;
            margin: 0 0 0.5rem;
        }
    }
    & > div:nth-child(2) {
        display: flex;
        align-items: center;
        /* background: var(--body-gradient); */
        padding: 10px 10px 0;
        border-radius: 5px;
    }
}

.portfolio-entry{
& > img {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.25);
}
}

#portfolio{
    text-align: center;
}

#services mark {
    font-size: 3rem;
    width: 100%;
    display: block;
}

.personal-values {
    & p{
    text-align: center;
    background: var(--body-gradient);
    padding: 10px;
    border-radius: 5px;
}
}

.personal-interests {
    display: grid;
    grid: auto / 47.5% 47.5%;
    gap: 5%;
    & > *{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        background: var(--body-gradient);
        border-radius: 5px;
        text-align: center;
    }
}

/* FOOTER */

footer{
    /* background: var(--body-gradient); */
    & .profile-container{
    width: 100%;
    }
    & > div{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        align-items: center;
    }
    & p, h2, h3 {
        margin: 0;
    }
    & .social-row{
        justify-content: center;
        margin-top: 10px;
    
    }
    & aside {
        grid-column: 2/3;
    }
    & aside nav ul li {
        padding: 5px 0;
    }
    & .copyright {
        margin-top: 10px;
        & small {
            text-align: center;
        }
    }
}

@media (min-width: 768px) {
    footer {
        justify-content: center;
        & > div{
            display: grid;
            grid-template-columns: 150px 2fr 1fr;
            gap: 20px;
        }
        & aside{
            grid-column: initial;
        }
    }
}